/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/www
/.pcp
/*.txt
.secrets
.pcp
/tmp
/.DS_Store
**/DS_Store
.DS_Store
/tmp-*
/test-resources/pcp.edn
/data
/musketeers.js
/test.js
.calva/
.lsp
/default
/127.0.0.1