[Unit]
Description= pcp scgi server

[Service]
ExecStart=/usr/bin/java -jar /usr/local/bin/pcp.jar scgi
Restart=always

[Install]
WantedBy=multi-user.target
