[Unit]
Description= pcp scgi server

[Service]
EnvironmentFile=/usr/local/bin/pcp.conf
ExecStart=/usr/bin/java -jar /usr/local/bin/pcp-server.jar $PCP_CLUSTER
Restart=always

[Install]
WantedBy=multi-user.target
